In [3]:
import pandas as pd

<div style="background-color: #3D26B5;font-weight:bold;font-family:calibri;font-size:20px;color:white;padding:10px;line-height:1;text-align:left;border-radius: 10px;">
<p style="margin-left: 10px;">
1 - Dataset Inicial
</div>

In [4]:
aceitacoes = pd.read_excel('Aceitações_final.xlsx')

In [5]:
aceitacoes.shape

(1486, 4)

In [6]:
aceitacoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1486 entries, 0 to 1485
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   num_analise   1486 non-null   int64
 1   ano_apuracao  1486 non-null   int64
 2   rf            1486 non-null   object
 3   aceitacao     1486 non-null   object
dtypes: int64(2), object(2)
memory usage: 46.6+ KB

In [7]:
aceitacoes = aceitacoes.astype(str)
aceitacoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1486 entries, 0 to 1485
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   num_analise   1486 non-null   object
 1   ano_apuracao  1486 non-null   object
 2   rf            1486 non-null   object
 3   aceitacao     1486 non-null   object
dtypes: object(4)
memory usage: 46.6+ KB

In [8]:
aceitacoes.head()

  num_analise ano_apuracao    rf aceitacao
0       10785         2016  RF04       Não
1       33199         2016  RF01       Não
2       33239         2016  RF01       Não
3       41499         2016  RF01       Não
4       55554         2016  RF01       Não

<div style="background-color: #33C9FF;font-weight:bold;font-family:calibri;font-size:18px;color:white;padding:10px;line-height:1;text-align:left;border-radius: 10px;">
<p style="margin-left: 10px;">
1.1 - Describe simples
</div>

In [9]:
aceitacoes.iloc[:,1:].describe()

       ano_apuracao    rf aceitacao
count          1486  1486      1486
unique            5    10         2
top            2016  RF09       Não
freq            539   323       745

<div style="background-color: #33C9FF;font-weight:bold;font-family:calibri;font-size:18px;color:white;padding:10px;line-height:1;text-align:left;border-radius: 10px;">
<p style="margin-left: 10px;">
1.2 - Describe por Ano de Apuração
</div>

In [34]:

aceitacoes[['ano_apuracao', 'aceitacao']].groupby(['ano_apuracao'], as_index=False).count().describe()

        aceitacao
count    5.000000
mean   297.200000
std    151.283509
min    148.000000
25%    194.000000
50%    295.000000
75%    310.000000
max    539.000000

<div style="background-color: #33C9FF;font-weight:bold;font-family:calibri;font-size:18px;color:white;padding:10px;line-height:1;text-align:left;border-radius: 10px;">
<p style="margin-left: 10px;">
1.3 - Describe por Regiões Fiscais
</div>

In [35]:
aceitacoes[['rf', 'aceitacao']].groupby(['rf'], as_index=False).count().describe()

        aceitacao
count   10.000000
mean   148.600000
std     88.589189
min     58.000000
25%     97.250000
50%    112.500000
75%    162.250000
max    323.000000

<div style="background-color: #3D26B5;font-weight:bold;font-family:calibri;font-size:20px;color:white;padding:10px;line-height:1;text-align:left;border-radius: 10px;">
<p style="margin-left: 10px;">
2 - Dataset para Modelagem
</div>

In [41]:
dataset = pd.read_excel('DATASET_PARA_CLASSIFICACAO.xlsx')

In [43]:
dataset

,causa_distorcao,responsavel_tratamento,ca_nivel3,aceitacao
0,RD - Compensação (DCOMP ou Previdenciária),Gabinete da DRF,580,Não
1,RD - Compensação (DCOMP ou Previdenciária),Gabinete da DRF,140,Não
2,RD - Compensação (DCOMP ou Previdenciária),Gabinete da DRF,140,Não
3,RD - Compensação (DCOMP ou Previdenciária),Gabinete da DRF,140,Não
4,RD - Compensação (DCOMP ou Previdenciária),Gabinete da DRF,140,Não
...,...,...,...,...
1004,RP - Redução da base de cálculo,Superintendência,140,Sim
1005,DV - Indício de possível irregularidade tribut...,X-fis,540,Sim
1006,RD - Compensação (DCOMP ou Previdenciária),X-pac,500,Sim
1007,RD - Compensação (DCOMP ou Previdenciária),X-pac,540,Sim
1008,RP - Redução da base de cálculo,X-fis,140,Sim

In [44]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   causa_distorcao         1009 non-null   object
 1   responsavel_tratamento  1009 non-null   object
 2   ca_nivel3               1009 non-null   int64
 3   aceitacao               1009 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.7+ KB

In [45]:
dataset = dataset.astype(str)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   causa_distorcao         1009 non-null   object
 1   responsavel_tratamento  1009 non-null   object
 2   ca_nivel3               1009 non-null   object
 3   aceitacao               1009 non-null   object
dtypes: object(4)
memory usage: 31.7+ KB

<div style="background-color: #33C9FF;font-weight:bold;font-family:calibri;font-size:18px;color:white;padding:10px;line-height:1;text-align:left;border-radius: 10px;">
<p style="margin-left: 10px;">
2.1 - Describe simples
</div>

In [46]:
dataset.describe()

,causa_distorcao,responsavel_tratamento,ca_nivel3,aceitacao
count,1009,1009,1009,1009
unique,38,11,11,2
top,RD - Compensação (DCOMP ou Previdenciária),X-ort,622,Não
freq,270,221,305,528

<div style="background-color: #33C9FF;font-weight:bold;font-family:calibri;font-size:18px;color:white;padding:10px;line-height:1;text-align:left;border-radius: 10px;">
<p style="margin-left: 10px;">
2.2 - Describe por Causa da Distorção
</div>

In [51]:
dataset[['causa_distorcao', 'aceitacao']].groupby(['causa_distorcao'], as_index= False).count().describe()

        aceitacao
count   38.000000
mean    26.552632
std     55.494678
min      1.000000
25%      2.000000
50%      4.500000
75%     17.750000
max    270.000000

<div style="background-color: #33C9FF;font-weight:bold;font-family:calibri;font-size:18px;color:white;padding:10px;line-height:1;text-align:left;border-radius: 10px;">
<p style="margin-left: 10px;">
2.3 - Describe por Responsável pelo Tratamento
</div>

In [52]:
dataset[['responsavel_tratamento', 'aceitacao']].groupby(['responsavel_tratamento'], as_index= False).count().describe()

        aceitacao
count   11.000000
mean    91.727273
std     80.772633
min      1.000000
25%      6.000000
50%    109.000000
75%    142.000000
max    221.000000

<div style="background-color: #33C9FF;font-weight:bold;font-family:calibri;font-size:18px;color:white;padding:10px;line-height:1;text-align:left;border-radius: 10px;">
<p style="margin-left: 10px;">
2.4 - Describe por CA Nível 3
</div>

In [53]:
dataset[['ca_nivel3', 'aceitacao']].groupby(['ca_nivel3'], as_index= False).count().describe()

        aceitacao
count   11.000000
mean    91.727273
std    120.836328
min      1.000000
25%      3.000000
50%     37.000000
75%    164.500000
max    305.000000